<div class="card mb-3">
  <div class="row g-0">
    <div class="col-sm-6 col-md-3 py-5 px-5">
      <img 
        width="250px"
        src="{{ site.baseurl }}/{{ include.page.image }}"  
        class="d-block mx-auto"
        style="border-radius: 20px;">
    </div>
    <div class="col-sm-6 col-md-9">
      <div class="card-body">
        <h5 class="card-title pt-3 my-3" style="font-size: 1.7rem"><b>{{ include.page.title }}</b><small class="float-end" style="color: #6489b4">{{ include.page.date }}</small></h5>
        <p class="card-text">{{ include.page.summary }}</p>
        <p>
          {% for label in include.page.labels %}
          <span style="background-color: #6299d8" class="badge rounded-pill">{{ label }}</span>
          {% endfor %}
        </p>
        {% if page.projecturl %}
        <a href="{{ page.projecturl }}" class="btn ">Project Site</a>
        {% else %}
        <div class="pb-5">
        <a href="{{ site.baseurl}}{{ include.page.url }}" class="btn ">Read More</a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
