<header class="navbar navbar-expand border-bottom bg-white">
  <div class="container-fluid">

    <a class="navbar-brand"
       style="color: #552586; font-weight: 450;"
       href="{{ '/' | prepend: site.baseurl }}">
      {{ site.data.bio.basics.name }}
    </a>

    <div class="ms-auto">
      <ul class="navbar-nav mb-2 mb-lg-0">

        <a class="nav-link"
           style="color: #5e3a87; font-weight: 500;"
           href="{{ '/#projects' | prepend: site.baseurl }}">
          Projects
        </a>

        <a class="nav-link"
           style="color: #5e3a87; font-weight: 500;"
           href="{{ '/#essays' | prepend: site.baseurl }}">
          Essays
        </a>

        <a class="nav-link"
           style="color: #5e3a87; font-weight: 500;"
           href="{{ '/resume.html' | prepend: site.baseurl }}">
          Resume
        </a>

      </ul>
    </div>
  </div>
</header>
