<div
  style="
    background-color: var(--tf-page-bg-color);
    border-bottom: 1px solid #305a89 ;
  "
  class="py-5">

  <div class="container-fluid" style="max-width: 1400px;">

    <div class="row align-items-center">

      <!-- Profile Picture: unchanged -->
      <div class="col-lg-4">
        <img
          width="400px"
          src="{{ site.data.bio.basics.picture }}"
          class="d-block mx-auto rounded-circle">
      </div>

      <div class="col-lg-8">

        <!-- Name -->
        <h1
          class="display-4 text-center"
          style="
            font-size: 3.5rem;
            font-weight: 700;
            line-height: 1.1;
          ">
          {{ site.data.bio.basics.name }}
        </h1>

        <!-- Label -->
        <p
          class="lead text-center"
          style="
            font-size: 1.5rem;
            line-height: 1.6;
          ">
          {{ site.data.bio.basics.label }}
        </p>

        <!-- Summary -->
        <p
          class="lead"
          style="
            font-size: 2rem;
            line-height: 1.6;
          ">
          {{ site.data.bio.basics.summary }}
        </p>

        <hr class="my-4">

        <!-- Interests -->
        <p
          class="lead m-0"
          style="
            font-size: 2rem;
            line-height: 1.6;
          ">

          <b style="font-size: 2.2rem;">
            Interests:
          </b>

          {% for interest in site.data.bio.interests %}
            {{ interest.name }}{% if forloop.last != true %}, {% endif %}
          {% endfor %}

        </p>

        <hr class="my-4">

        <!-- Social Icons -->
        <div class="row">

          {% if site.data.bio.basics.website %}
            {% capture url %}{{ site.data.bio.basics.website }}{% endcapture %}

            <div
              class="col text-center"
              style="font-size: 1.5rem;">
              {% include about/social.html url=url name='house' %}
            </div>
          {% endif %}


          {% if site.data.bio.basics.email %}
            {% capture url %}mailto:{{ site.data.bio.basics.email }}{% endcapture %}

            <div
              class="col text-center"
              style="font-size: 1.5rem;">
              {% include about/social.html url=url name='envelope' %}
            </div>
          {% endif %}


          {% for profile in site.data.bio.basics.profiles %}

            {% capture url %}{{ profile.url }}{% endcapture %}
            {% capture name %}{{ profile.network | downcase }}{% endcapture %}

            <div
              class="col text-center"
              style="font-size: 1.5rem; color: #93c5fd;">
              {% include about/social.html url=url name=name %}
            </div>

          {% endfor %}

        </div>

      </div>

    </div>

  </div>

</div>